# Django & Python
*.pyc
*.pyo
__pycache__/
*.py[cod]
db.sqlite3
db.sqlite3-journal
/staticfiles/
/media/
.env
.env.*

# Python Envs
*.egg-info/
dist/
build/
*.egg
venv/
.venv/
env/
ENV/

# IDE & Logs
.vscode/
.idea/
*.swp
*.log
artifacts/